.Header {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  background-color: brown;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header h1 {
  color: black;
}

li {
  padding: 20px;
  display: inline-block;
}

a {
  color: white;
}

li a:hover {
  background-color: aquamarine;
}
